/*.placeholder {*/
/*background-color: #ebebef;*/
/*color: #bbb;*/
/*text-align: center;*/
/*height: 30px;*/
/*line-height: 30px;*/
/*width: 100%;*/
/*}*/

.tab-header {
  position: absolute;
  top: 0px;
  z-index: 100;
  width: 100%;
}

.tab-body {
  margin-top: 45px;
}

.grid-icon-bg img {
  box-sizing: content-box;
  background-color: rebeccapurple;
  border-radius: 5px;
  padding: 5px;
}
